<div class="bg-dark">
  <nav
    class="container navbar navbar-expand bg-dark fixed-top d-flex justify-content-between"
  >
    <a class="navbar-brand mb-0 p-2 h1" href="">
      <img
        class="d-inline-block align-top bg-dark rounded-pill"
        src="https://www.freepnglogos.com/uploads/logo-3d-png/3d-logo-design-company-19.png"
        alt=""
        width="60"
        height="40"
      />
    </a>
    <div class="">
      <ul class="navbar-nav gap-3">
        <li class="nav-item active">
          <a
            href=""
            class="nav-link active text-light p-1 border border-warning rounded-pill"
            >Home</a
          >
        </li>
        <li class="nav-item active">
          <a
            href=""
            class="nav-link active p-1 text-light border border-warning rounded-pill"
            >About Us</a
          >
        </li>

        <li class="nav-item active">
          <a
            href=""
            class="nav-link active p-1 text-light border border-warning rounded-pill"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
