<div class="bg-dark">
  <nav
    class="container navbar navbar-expand bg-dark d-flex fixed-top justify-content-between"
  >
    <a class="navbar-brand mb-0 h1" href="">
      <img
        class="d-inline-block align-top bg-light rounded-pill"
        src="https://download.logo.wine/logo/Amazon_Web_Services/Amazon_Web_Services-Logo.wine.png"
        alt=""
        width="50"
        height="40"
      />
    </a>

    <ul class="navbar-nav gap-3">
      <li class="nav-item active">
        <a
          href=""
          class="nav-link active border border-info border-2 rounded-pill bg-info-subtle text-emphasis-info p-1"
          >Home</a
        >
      </li>
      <li class="nav-item active">
        <a
          href=""
          class="nav-link active border border-info border-2 rounded-pill bg-info-subtle text-emphasis-info p-1"
          >About Us</a
        >
      </li>
      <li class="nav-item active">
        <a
          href=""
          class="nav-link active border border-info border-2 rounded-pill bg-info-subtle text-emphasis-info p-1"
          >Contact Us</a
        >
      </li>
      <li class="nav-item active">
        <a
          href=""
          class="nav-link active border border-info border-2 rounded-pill bg-info-subtle text-emphasis-info p-1"
          >Register</a
        >
      </li>
    </ul>
  </nav>
</div>
