<div class="bg-dark">
  <main class="container bg-dark text-light p-5 text-center p-2">
    <img
      class="rounded mx-auto d-block img-fluid w-52 mb-4"
      src="https://wallpapercave.com/dwp1x/wp10474546.jpg"
      alt=""
    />

    <h1 class="h5 text-warning mb-2">AWS Training Objectives</h1>
    <ul class="list-group bg-dark text-light border border-dark">
      <li class="list-group-item bg-dark text-light border border-dark">
        Compute (EC2)
      </li>
      <li class="list-group-item bg-dark text-light border border-dark">
        Storage (S3, EBS, EFS, Storage Gateway and Snowball)
      </li>
      <li class="list-group-item bg-dark text-light border border-dark">
        Network and Content Delivery (Route 53, VPC and Cloud Front)
      </li>
      <li class="list-group-item bg-dark text-light border border-dark">
        Management Tools (Cloud Watch, Cloud Formation and Cloud Trail)
      </li>
    </ul>
  </main>
</div>
