<div class="bg-dark">
  <div class="container-fluid text-light text-center">
    <h1>Registration Form</h1>
    <form>
      <div class="form-group m-2">
        <label class="p-2" for="">Name</label>
        <input type="text" class="form-contol rounded" />
      </div>
      <div class="form-group m-2">
        <label class="p-2" for="">Email</label>
        <input type="text" class="form-contol rounded" />
      </div>
      <div class="form-group m-2">
        <label class="p-2" for="">Adress</label>
        <input type="text" class="form-contol rounded" />
      </div>
      <div class="form-group m-2">
        <label class="p-2" for="">City</label>
        <input type="text" class="form-contol rounded" />
      </div>
      <div class="form-group m-2">
        <label class="p-2" for="">State</label>
        <input type="text" class="form-contol rounded" />
      </div>
    </form>
    <button class="bg-primary rounded">Submit</button>
  </div>
</div>
